nav li {
  float: left;
  display: grid;
  padding: 20px; 
}

.CV {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 150px;
  border-radius: 50%;
  border: 10px solid #27282633;
}

a {
  text-decoration: none;
}

.titre {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pos p {
  text-align: center;
}

p:not(.titre) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.infos h1{
  color: rgb(132, 123, 123);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.pos {
  background-color: #c5c3c1;
  border: 1px solid #36383faa;
  border-radius: 5px;
}

.infos {
  display: grid;
  grid-template-columns: 600px 600px;
}

.infos div{
  border: 2px solid #36383faa;
  border-radius: 5px;
  background-color: #c5c3c1;
  padding: 1em;
  color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
